QFrame#recentSessionsView {
    background-color: #1D2129;
    border: none;
    border-radius: 8px;
}

QWidget#recentSessionsOuter {
    background-color: #171B22;
    border: 1px solid #C084FC;
    border-radius: 5px;
}

QWidget#recentSessionsItemContainer {
    background-color: #171B22;
    border-radius: 5px;
}