QFrame#recentSessionsView {
    background-color: #0a0a0a;
    border: none;
    border-radius: 8px;
}

QWidget#recentSessionsOuter {
    background-color: #111111;
    border: none;
    border-radius: 5px;
}

QWidget#recentSessionsItemContainer {
    background-color: #111111;
    border-radius: 5px;
}

QScrollArea#recentSessionsScrollArea {
    background-color: transparent;
}