QFrame#topAppsView {
    background-color: #0a0a0a;
    border-radius: 8px;
}

QWidget#topAppsItemContainerOuter {
    background-color: #111111;
    border-radius: 5px;
    border: none;
}

QWidget#topAppsItemContainer {
    background-color: #111111;
    border-radius: 5px;
}

QScrollArea#topAppsScrollArea {
    background-color: transparent;
}