QFrame#topAppsView {
    background-color: #1D2129;
    border-radius: 8px;
}

QWidget#outer {
    background-color: #171B22;
    border-radius: 5px;
    border: 1px solid #C084FC;
}

QWidget#itemContainer {
    background-color: #171B22;
    border-radius: 5px;
}