QFrame#trackingRecordFilterBar {
    background-color: #0a0a0a;
    border: none;
    border-radius: 8px;
}

QWidget#filterOptionsPopup {
    background-color: #0a0a0a;
    border: none;
    border-radius: 5px;
}

QWidget#popupCombos,
QWidget#popupButtons {
    background-color: #0a0a0a;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
}