QFrame#plainIconHeader {
    border: none;
    background-color: transparent;
}

QLabel#plainIconHeaderIconLabel {
    border: none;
    background-color: transparent;
}

QLabel#plainIconHeaderTitleLabel {
    color: #dddcde;
    font-weight: $font_weight$;
    font-size: $font_size$px;
}