QFrame#usageReportView {
    background-color: #0a0a0a;
    border: none;
    border-radius: 12px;
}

QFrame#usageReportScrollAreaFrame {
    background-color: #111111;
    border: none;
    border-radius: 12px;
}

QScrollArea#usageReportScrollArea {
    background-color: transparent;
}